<div class="row overflow-hidden">
  <table class="table table-striped queue my-0">
    <tbody>
    <tr>
      <td class="row-title navbar-dark bg-dark text-center" *ngIf="player.currentTrack.title">
        <span class="time"><i class="fa fa-music"></i> Now Playing &nbsp;&nbsp;</span>
        <span class="time"><i class="fa fa-clock-o"></i> {{player.currentTrack.duration}}</span>
        <p class="row-title-text row-title-style">
          {{player.currentTrack.title}}
        </p>
      </td>
    </tr>
  </table>
  <div class="col-lg-8 box">
    <div class="inner"><app-player [roomId]=roomId></app-player></div>
  </div>
  <div class="col-lg-4 box">
    <app-chat [roomId]=roomId (onChange)="onChatChange($event)"></app-chat>
  </div>
  <div class="row justify-content-center">
    <a href="" class ="btnCool btn1 my-2">Queue <span><i class="fa fa-music"></i></span></a>

    <table class="table table-striped queue">
      <tbody>
      <tr *ngFor="let video of player.videos  | paginate: { itemsPerPage: 3, currentPage: p }">
        <td class="row-title"><p class="row-title-style">{{video.title}}</p></td>
        <td class="row-time">{{video.duration}}</td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"
                         directionLinks="false"
                         autoHide="true"
                         responsive="true"
    ></pagination-controls>
  </div>
</div>



