.queue {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.queue td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-title {
  width: 100%;
  background: #cd201f;
  border-radius: 3px;
  border-bottom: 1px solid lightgray ;
}
.row-time {
  width: 30%;
}
.time{
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  font-size: medium;
  color: #D9D9D9;
}
.row-title-text {
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  color: #D9D9D9;
  animation: floatText 14s infinite linear;
  /*Initial offset*/
  padding: 0px 0px 0px 100%;
}
.row-title-style{
  font-size: medium;
  padding: 0px 0px 0px;
}
.row-title-text:hover {
  animation-play-state: paused;
}
@keyframes floatText {
  to {
    transform: translateX(100%);
  }
}


