<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onUserRegister()">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="alert alert-danger" role="alert" *ngIf="errorMssg">
                  {{errorMssg}}
                </div>
                <div class="form-group">
                  <label>
                    <input type="email" name="email" class="form-control" placeholder="Email" required
                           minlength="8" [(ngModel)]="email">
                  </label>
                </div>
                <div class="form-group">
                  <label>
                    <input type="password" name="password" class="form-control" placeholder="Password"
                           required minlength="5" maxlength="10" [(ngModel)]="passwd">
                  </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <div class="form-group">
                  <a routerLink="/" class="form-control login-user">Do you have account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
