<!--<section id="register" class="mb-5 mt-5">-->
<!--  <div class="container">-->
<!--    <div class="row">-->

<!--      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">-->
<!--        <div class="card_register">-->
<!--          <div class="card">-->
<!--            <div class="card-body text-center">-->
<!--              <form #formRegister="ngForm" (ngSubmit)="onUserRegister()">-->
<!--                <h1 class="h3 mb-3 font-weight-normal">Register</h1>-->
<!--                <div class="alert alert-danger" role="alert" *ngIf="errorMssg">-->
<!--                  {{errorMssg}}-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <label>-->
<!--                    <input type="email" name="email" class="form-control" placeholder="Email" required-->
<!--                           minlength="8" [(ngModel)]="email">-->
<!--                  </label>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                  <label>-->
<!--                    <input type="password" name="password" class="form-control" placeholder="Password"-->
<!--                           required minlength="5" maxlength="10" [(ngModel)]="passwd">-->
<!--                  </label>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>-->
<!--                <div class="form-group">-->
<!--                  <a routerLink="/" class="form-control login-user">Do you have account?</a>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 alignmargin">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Sign up with</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon" (click)="onLoginFacebook()">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/facebook.svg"></span>
              <span class="btn-inner--text">Facebook</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon" (click)="onLoginGoogle()">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
            <br>
            <br>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon" (click)="onLoginGitHub()">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">GitHub</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form #formRegister="ngForm" (ngSubmit)="onUserRegister()">
            <div class="form-group">

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input type="text" name="name" class="form-control" placeholder="Name"
                       [(ngModel)]="name">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="Email" required
                       minlength="8" [(ngModel)]="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password"
                       required minlength="5" maxlength="10" [(ngModel)]="passwd">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark mt-4">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
