<div class="abrir-modal animacion fadeIn" *ngIf="queueService.modal">
  <div *ngIf="queueService.modal" class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Queue</h5>
          <button (click)="cerrarModal()" type="button"  class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">

                <table class="table table-striped queue">
                  <tbody>
                  <tr *ngFor="let video of videos  | paginate: { itemsPerPage: 3, currentPage: p }">
                    <td class="row-image"><img src="{{video.image}}"></td>
                    <td class="row-title"><p class="row-title-style">{{video.title}}</p></td>
                    <td class="row-time">{{video.duration}}</td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"
                                     directionLinks="false"
                                     autoHide="true"
                                     responsive="true"
                ></pagination-controls>

              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
